services:
  traefik:
    image: traefik:3.6.8
    environment:
      - DOCKER_API_VERSION=1.44
    command:
      - "--configFile=/etc/traefik/traefik-local.yml"
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 8080
        published: 8080
        protocol: tcp
        mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik-local.yml:/etc/traefik/traefik-local.yml:ro
      - ./dynamic:/etc/traefik/dynamic:ro
    networks:
      - traefik-public
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 5
    healthcheck:
      test: ["CMD", "traefik", "healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

networks:
  traefik-public:
    external: true
