services:
  traefik:
    image: traefik:3.6.8
    environment:
      - DOCKER_API_VERSION=1.44
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 8080
        published: 8080
        protocol: tcp
        mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    configs:
      - source: traefik_config
        target: /etc/traefik/traefik.yml
      - source: middlewares_config
        target: /etc/traefik/dynamic/middlewares.yml
    networks:
      - traefik-public
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 5
    healthcheck:
      test: ["CMD", "traefik", "healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

configs:
  traefik_config:
    file: ./traefik-local.yml
  middlewares_config:
    file: ./dynamic/middlewares.yml

networks:
  traefik-public:
    external: true
