api:
  dashboard: true
  insecure: true

ping: {}

entryPoints:
  web:
    address: ":80"
  traefik:
    address: ":8080"

providers:
  swarm:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: traefik-public
  file:
    directory: /etc/traefik/dynamic
    watch: true

log:
  level: INFO

accessLog: {}